<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to my app</h1>
    <a href="/about">About my site</a>
    <br/>
    <a href="/book-store">My book-store</a>
</body>
</html>